Administrativo.WS/Web References/portal.arquivos/Arquivos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.grupocandinho.com.br/WebServices/Arquivos.asmx" xmlns:s1="http://www.grupocandinho.com.br/WebServices/Arquivos.asmx/AbstractTypes" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.grupocandinho.com.br/WebServices/Arquivos.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.grupocandinho.com.br/WebServices/Arquivos.asmx">
      <s:element name="LogArquivo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="escritorioCNPJ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="empresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="obrigacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="competencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parcela" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sequenciaExtra" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="obrigacaoExtra" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipoPessoaInforme" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="informe" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailUsuarioEmpresa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogArquivoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogArquivoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaArquivoTeste">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nomeArquivo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaArquivoTesteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornaArquivoTesteResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaArquivo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="escritorioCNPJ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="empresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="obrigacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="competencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parcela" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sequenciaExtra" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="obrigacaoExtra" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipoPessoaInforme" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="informe" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaArquivoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornaArquivoResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaExtensao">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="escritorioCNPJ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="empresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="obrigacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="competencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parcela" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sequenciaExtra" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="obrigacaoExtra" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipoPessoaInforme" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="informe" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaExtensaoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornaExtensaoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastraArquivo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="escritorioCNPJ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="loginUsuarioEscritorio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="empresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="obrigacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="competencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parcela" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sequenciaExtra" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="obrigacaoExtra" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipoPessoaInforme" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="informe" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="vencimento" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="mensagem" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="arquivo" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="extensao" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastraArquivoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CadastraArquivoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="teste">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="arquivo" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="extensao" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="testeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="testeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="base64Binary" nillable="true" type="s:base64Binary" />
    </s:schema>
    <s:schema targetNamespace="http://www.grupocandinho.com.br/WebServices/Arquivos.asmx/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LogArquivoSoapIn">
    <wsdl:part name="parameters" element="tns:LogArquivo" />
  </wsdl:message>
  <wsdl:message name="LogArquivoSoapOut">
    <wsdl:part name="parameters" element="tns:LogArquivoResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaArquivoTesteSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaArquivoTeste" />
  </wsdl:message>
  <wsdl:message name="RetornaArquivoTesteSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaArquivoTesteResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaArquivoSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaArquivo" />
  </wsdl:message>
  <wsdl:message name="RetornaArquivoSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaArquivoResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaExtensaoSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaExtensao" />
  </wsdl:message>
  <wsdl:message name="RetornaExtensaoSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaExtensaoResponse" />
  </wsdl:message>
  <wsdl:message name="CadastraArquivoSoapIn">
    <wsdl:part name="parameters" element="tns:CadastraArquivo" />
  </wsdl:message>
  <wsdl:message name="CadastraArquivoSoapOut">
    <wsdl:part name="parameters" element="tns:CadastraArquivoResponse" />
  </wsdl:message>
  <wsdl:message name="testeSoapIn">
    <wsdl:part name="parameters" element="tns:teste" />
  </wsdl:message>
  <wsdl:message name="testeSoapOut">
    <wsdl:part name="parameters" element="tns:testeResponse" />
  </wsdl:message>
  <wsdl:message name="LogArquivoHttpGetIn">
    <wsdl:part name="escritorioCNPJ" type="s:string" />
    <wsdl:part name="empresa" type="s:string" />
    <wsdl:part name="obrigacao" type="s:string" />
    <wsdl:part name="competencia" type="s:string" />
    <wsdl:part name="parcela" type="s:string" />
    <wsdl:part name="sequenciaExtra" type="s:string" />
    <wsdl:part name="obrigacaoExtra" type="s:string" />
    <wsdl:part name="tipoPessoaInforme" type="s:string" />
    <wsdl:part name="informe" type="s:string" />
    <wsdl:part name="emailUsuarioEmpresa" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LogArquivoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RetornaArquivoTesteHttpGetIn">
    <wsdl:part name="nomeArquivo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetornaArquivoTesteHttpGetOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="RetornaArquivoHttpGetIn">
    <wsdl:part name="escritorioCNPJ" type="s:string" />
    <wsdl:part name="empresa" type="s:string" />
    <wsdl:part name="obrigacao" type="s:string" />
    <wsdl:part name="competencia" type="s:string" />
    <wsdl:part name="parcela" type="s:string" />
    <wsdl:part name="sequenciaExtra" type="s:string" />
    <wsdl:part name="obrigacaoExtra" type="s:string" />
    <wsdl:part name="tipoPessoaInforme" type="s:string" />
    <wsdl:part name="informe" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetornaArquivoHttpGetOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="RetornaExtensaoHttpGetIn">
    <wsdl:part name="escritorioCNPJ" type="s:string" />
    <wsdl:part name="empresa" type="s:string" />
    <wsdl:part name="obrigacao" type="s:string" />
    <wsdl:part name="competencia" type="s:string" />
    <wsdl:part name="parcela" type="s:string" />
    <wsdl:part name="sequenciaExtra" type="s:string" />
    <wsdl:part name="obrigacaoExtra" type="s:string" />
    <wsdl:part name="tipoPessoaInforme" type="s:string" />
    <wsdl:part name="informe" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetornaExtensaoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CadastraArquivoHttpGetIn">
    <wsdl:part name="escritorioCNPJ" type="s:string" />
    <wsdl:part name="loginUsuarioEscritorio" type="s:string" />
    <wsdl:part name="empresa" type="s:string" />
    <wsdl:part name="obrigacao" type="s:string" />
    <wsdl:part name="competencia" type="s:string" />
    <wsdl:part name="parcela" type="s:string" />
    <wsdl:part name="sequenciaExtra" type="s:string" />
    <wsdl:part name="obrigacaoExtra" type="s:string" />
    <wsdl:part name="tipoPessoaInforme" type="s:string" />
    <wsdl:part name="informe" type="s:string" />
    <wsdl:part name="vencimento" type="s:string" />
    <wsdl:part name="mensagem" type="s:string" />
    <wsdl:part name="arquivo" type="s1:StringArray" />
    <wsdl:part name="extensao" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CadastraArquivoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="testeHttpGetIn">
    <wsdl:part name="arquivo" type="s1:StringArray" />
    <wsdl:part name="extensao" type="s:string" />
  </wsdl:message>
  <wsdl:message name="testeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LogArquivoHttpPostIn">
    <wsdl:part name="escritorioCNPJ" type="s:string" />
    <wsdl:part name="empresa" type="s:string" />
    <wsdl:part name="obrigacao" type="s:string" />
    <wsdl:part name="competencia" type="s:string" />
    <wsdl:part name="parcela" type="s:string" />
    <wsdl:part name="sequenciaExtra" type="s:string" />
    <wsdl:part name="obrigacaoExtra" type="s:string" />
    <wsdl:part name="tipoPessoaInforme" type="s:string" />
    <wsdl:part name="informe" type="s:string" />
    <wsdl:part name="emailUsuarioEmpresa" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LogArquivoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RetornaArquivoTesteHttpPostIn">
    <wsdl:part name="nomeArquivo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetornaArquivoTesteHttpPostOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="RetornaArquivoHttpPostIn">
    <wsdl:part name="escritorioCNPJ" type="s:string" />
    <wsdl:part name="empresa" type="s:string" />
    <wsdl:part name="obrigacao" type="s:string" />
    <wsdl:part name="competencia" type="s:string" />
    <wsdl:part name="parcela" type="s:string" />
    <wsdl:part name="sequenciaExtra" type="s:string" />
    <wsdl:part name="obrigacaoExtra" type="s:string" />
    <wsdl:part name="tipoPessoaInforme" type="s:string" />
    <wsdl:part name="informe" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetornaArquivoHttpPostOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="RetornaExtensaoHttpPostIn">
    <wsdl:part name="escritorioCNPJ" type="s:string" />
    <wsdl:part name="empresa" type="s:string" />
    <wsdl:part name="obrigacao" type="s:string" />
    <wsdl:part name="competencia" type="s:string" />
    <wsdl:part name="parcela" type="s:string" />
    <wsdl:part name="sequenciaExtra" type="s:string" />
    <wsdl:part name="obrigacaoExtra" type="s:string" />
    <wsdl:part name="tipoPessoaInforme" type="s:string" />
    <wsdl:part name="informe" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetornaExtensaoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CadastraArquivoHttpPostIn">
    <wsdl:part name="escritorioCNPJ" type="s:string" />
    <wsdl:part name="loginUsuarioEscritorio" type="s:string" />
    <wsdl:part name="empresa" type="s:string" />
    <wsdl:part name="obrigacao" type="s:string" />
    <wsdl:part name="competencia" type="s:string" />
    <wsdl:part name="parcela" type="s:string" />
    <wsdl:part name="sequenciaExtra" type="s:string" />
    <wsdl:part name="obrigacaoExtra" type="s:string" />
    <wsdl:part name="tipoPessoaInforme" type="s:string" />
    <wsdl:part name="informe" type="s:string" />
    <wsdl:part name="vencimento" type="s:string" />
    <wsdl:part name="mensagem" type="s:string" />
    <wsdl:part name="arquivo" type="s1:StringArray" />
    <wsdl:part name="extensao" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CadastraArquivoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="testeHttpPostIn">
    <wsdl:part name="arquivo" type="s1:StringArray" />
    <wsdl:part name="extensao" type="s:string" />
  </wsdl:message>
  <wsdl:message name="testeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="ArquivosSoap">
    <wsdl:operation name="LogArquivo">
      <wsdl:input message="tns:LogArquivoSoapIn" />
      <wsdl:output message="tns:LogArquivoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaArquivoTeste">
      <wsdl:input message="tns:RetornaArquivoTesteSoapIn" />
      <wsdl:output message="tns:RetornaArquivoTesteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaArquivo">
      <wsdl:input message="tns:RetornaArquivoSoapIn" />
      <wsdl:output message="tns:RetornaArquivoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaExtensao">
      <wsdl:input message="tns:RetornaExtensaoSoapIn" />
      <wsdl:output message="tns:RetornaExtensaoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CadastraArquivo">
      <wsdl:input message="tns:CadastraArquivoSoapIn" />
      <wsdl:output message="tns:CadastraArquivoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="teste">
      <wsdl:input message="tns:testeSoapIn" />
      <wsdl:output message="tns:testeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ArquivosHttpGet">
    <wsdl:operation name="LogArquivo">
      <wsdl:input message="tns:LogArquivoHttpGetIn" />
      <wsdl:output message="tns:LogArquivoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaArquivoTeste">
      <wsdl:input message="tns:RetornaArquivoTesteHttpGetIn" />
      <wsdl:output message="tns:RetornaArquivoTesteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaArquivo">
      <wsdl:input message="tns:RetornaArquivoHttpGetIn" />
      <wsdl:output message="tns:RetornaArquivoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaExtensao">
      <wsdl:input message="tns:RetornaExtensaoHttpGetIn" />
      <wsdl:output message="tns:RetornaExtensaoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CadastraArquivo">
      <wsdl:input message="tns:CadastraArquivoHttpGetIn" />
      <wsdl:output message="tns:CadastraArquivoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="teste">
      <wsdl:input message="tns:testeHttpGetIn" />
      <wsdl:output message="tns:testeHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ArquivosHttpPost">
    <wsdl:operation name="LogArquivo">
      <wsdl:input message="tns:LogArquivoHttpPostIn" />
      <wsdl:output message="tns:LogArquivoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaArquivoTeste">
      <wsdl:input message="tns:RetornaArquivoTesteHttpPostIn" />
      <wsdl:output message="tns:RetornaArquivoTesteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaArquivo">
      <wsdl:input message="tns:RetornaArquivoHttpPostIn" />
      <wsdl:output message="tns:RetornaArquivoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaExtensao">
      <wsdl:input message="tns:RetornaExtensaoHttpPostIn" />
      <wsdl:output message="tns:RetornaExtensaoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CadastraArquivo">
      <wsdl:input message="tns:CadastraArquivoHttpPostIn" />
      <wsdl:output message="tns:CadastraArquivoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="teste">
      <wsdl:input message="tns:testeHttpPostIn" />
      <wsdl:output message="tns:testeHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ArquivosSoap" type="tns:ArquivosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogArquivo">
      <soap:operation soapAction="http://www.grupocandinho.com.br/WebServices/Arquivos.asmx/LogArquivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaArquivoTeste">
      <soap:operation soapAction="http://www.grupocandinho.com.br/WebServices/Arquivos.asmx/RetornaArquivoTeste" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaArquivo">
      <soap:operation soapAction="http://www.grupocandinho.com.br/WebServices/Arquivos.asmx/RetornaArquivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaExtensao">
      <soap:operation soapAction="http://www.grupocandinho.com.br/WebServices/Arquivos.asmx/RetornaExtensao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastraArquivo">
      <soap:operation soapAction="http://www.grupocandinho.com.br/WebServices/Arquivos.asmx/CadastraArquivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="teste">
      <soap:operation soapAction="http://www.grupocandinho.com.br/WebServices/Arquivos.asmx/teste" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ArquivosSoap12" type="tns:ArquivosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogArquivo">
      <soap12:operation soapAction="http://www.grupocandinho.com.br/WebServices/Arquivos.asmx/LogArquivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaArquivoTeste">
      <soap12:operation soapAction="http://www.grupocandinho.com.br/WebServices/Arquivos.asmx/RetornaArquivoTeste" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaArquivo">
      <soap12:operation soapAction="http://www.grupocandinho.com.br/WebServices/Arquivos.asmx/RetornaArquivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaExtensao">
      <soap12:operation soapAction="http://www.grupocandinho.com.br/WebServices/Arquivos.asmx/RetornaExtensao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastraArquivo">
      <soap12:operation soapAction="http://www.grupocandinho.com.br/WebServices/Arquivos.asmx/CadastraArquivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="teste">
      <soap12:operation soapAction="http://www.grupocandinho.com.br/WebServices/Arquivos.asmx/teste" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ArquivosHttpGet" type="tns:ArquivosHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="LogArquivo">
      <http:operation location="/LogArquivo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaArquivoTeste">
      <http:operation location="/RetornaArquivoTeste" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaArquivo">
      <http:operation location="/RetornaArquivo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaExtensao">
      <http:operation location="/RetornaExtensao" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastraArquivo">
      <http:operation location="/CadastraArquivo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="teste">
      <http:operation location="/teste" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ArquivosHttpPost" type="tns:ArquivosHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="LogArquivo">
      <http:operation location="/LogArquivo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaArquivoTeste">
      <http:operation location="/RetornaArquivoTeste" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaArquivo">
      <http:operation location="/RetornaArquivo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaExtensao">
      <http:operation location="/RetornaExtensao" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastraArquivo">
      <http:operation location="/CadastraArquivo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="teste">
      <http:operation location="/teste" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Arquivos">
    <wsdl:port name="ArquivosSoap" binding="tns:ArquivosSoap">
      <soap:address location="http://grupocandinho.com.br/WebServices/Arquivos.asmx" />
    </wsdl:port>
    <wsdl:port name="ArquivosSoap12" binding="tns:ArquivosSoap12">
      <soap12:address location="http://grupocandinho.com.br/WebServices/Arquivos.asmx" />
    </wsdl:port>
    <wsdl:port name="ArquivosHttpGet" binding="tns:ArquivosHttpGet">
      <http:address location="http://grupocandinho.com.br/WebServices/Arquivos.asmx" />
    </wsdl:port>
    <wsdl:port name="ArquivosHttpPost" binding="tns:ArquivosHttpPost">
      <http:address location="http://grupocandinho.com.br/WebServices/Arquivos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>