Administrativo.WS/Web References/portal.guias/Guias.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.grupocandinho.com.br/WebServices/Guias.asmx" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.grupocandinho.com.br/WebServices/Guias.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.grupocandinho.com.br/WebServices/Guias.asmx">
      <s:element name="LogGuia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="escritorioCNPJ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="empresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="obrigacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="competencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parcela" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sequenciaExtra" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="obrigacaoExtra" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipoPessoaInforme" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="informe" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailUsuarioEmpresa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogGuiaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogGuiaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastraGuia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="escritorioCNPJ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="loginUsuarioEscritorio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="empresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="obrigacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="competencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parcela" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sequenciaExtra" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="obrigacaoExtra" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipoPessoaInforme" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="informe" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="vencimento" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="mensagem" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dados" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastraGuiaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CadastraGuiaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlteraGuia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="escritorioCNPJ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="empresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="obrigacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="competencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parcela" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sequenciaExtra" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="obrigacaoExtra" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipoPessoaInforme" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="informe" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="vencimento" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="mensagem" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dados" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlteraGuiaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AlteraGuiaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LogGuiaSoapIn">
    <wsdl:part name="parameters" element="tns:LogGuia" />
  </wsdl:message>
  <wsdl:message name="LogGuiaSoapOut">
    <wsdl:part name="parameters" element="tns:LogGuiaResponse" />
  </wsdl:message>
  <wsdl:message name="CadastraGuiaSoapIn">
    <wsdl:part name="parameters" element="tns:CadastraGuia" />
  </wsdl:message>
  <wsdl:message name="CadastraGuiaSoapOut">
    <wsdl:part name="parameters" element="tns:CadastraGuiaResponse" />
  </wsdl:message>
  <wsdl:message name="AlteraGuiaSoapIn">
    <wsdl:part name="parameters" element="tns:AlteraGuia" />
  </wsdl:message>
  <wsdl:message name="AlteraGuiaSoapOut">
    <wsdl:part name="parameters" element="tns:AlteraGuiaResponse" />
  </wsdl:message>
  <wsdl:message name="LogGuiaHttpGetIn">
    <wsdl:part name="escritorioCNPJ" type="s:string" />
    <wsdl:part name="empresa" type="s:string" />
    <wsdl:part name="obrigacao" type="s:string" />
    <wsdl:part name="competencia" type="s:string" />
    <wsdl:part name="parcela" type="s:string" />
    <wsdl:part name="sequenciaExtra" type="s:string" />
    <wsdl:part name="obrigacaoExtra" type="s:string" />
    <wsdl:part name="tipoPessoaInforme" type="s:string" />
    <wsdl:part name="informe" type="s:string" />
    <wsdl:part name="emailUsuarioEmpresa" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LogGuiaHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CadastraGuiaHttpGetIn">
    <wsdl:part name="escritorioCNPJ" type="s:string" />
    <wsdl:part name="loginUsuarioEscritorio" type="s:string" />
    <wsdl:part name="empresa" type="s:string" />
    <wsdl:part name="obrigacao" type="s:string" />
    <wsdl:part name="competencia" type="s:string" />
    <wsdl:part name="parcela" type="s:string" />
    <wsdl:part name="sequenciaExtra" type="s:string" />
    <wsdl:part name="obrigacaoExtra" type="s:string" />
    <wsdl:part name="tipoPessoaInforme" type="s:string" />
    <wsdl:part name="informe" type="s:string" />
    <wsdl:part name="vencimento" type="s:string" />
    <wsdl:part name="mensagem" type="s:string" />
    <wsdl:part name="dados" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CadastraGuiaHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AlteraGuiaHttpGetIn">
    <wsdl:part name="escritorioCNPJ" type="s:string" />
    <wsdl:part name="empresa" type="s:string" />
    <wsdl:part name="obrigacao" type="s:string" />
    <wsdl:part name="competencia" type="s:string" />
    <wsdl:part name="parcela" type="s:string" />
    <wsdl:part name="sequenciaExtra" type="s:string" />
    <wsdl:part name="obrigacaoExtra" type="s:string" />
    <wsdl:part name="tipoPessoaInforme" type="s:string" />
    <wsdl:part name="informe" type="s:string" />
    <wsdl:part name="vencimento" type="s:string" />
    <wsdl:part name="mensagem" type="s:string" />
    <wsdl:part name="dados" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AlteraGuiaHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LogGuiaHttpPostIn">
    <wsdl:part name="escritorioCNPJ" type="s:string" />
    <wsdl:part name="empresa" type="s:string" />
    <wsdl:part name="obrigacao" type="s:string" />
    <wsdl:part name="competencia" type="s:string" />
    <wsdl:part name="parcela" type="s:string" />
    <wsdl:part name="sequenciaExtra" type="s:string" />
    <wsdl:part name="obrigacaoExtra" type="s:string" />
    <wsdl:part name="tipoPessoaInforme" type="s:string" />
    <wsdl:part name="informe" type="s:string" />
    <wsdl:part name="emailUsuarioEmpresa" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LogGuiaHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CadastraGuiaHttpPostIn">
    <wsdl:part name="escritorioCNPJ" type="s:string" />
    <wsdl:part name="loginUsuarioEscritorio" type="s:string" />
    <wsdl:part name="empresa" type="s:string" />
    <wsdl:part name="obrigacao" type="s:string" />
    <wsdl:part name="competencia" type="s:string" />
    <wsdl:part name="parcela" type="s:string" />
    <wsdl:part name="sequenciaExtra" type="s:string" />
    <wsdl:part name="obrigacaoExtra" type="s:string" />
    <wsdl:part name="tipoPessoaInforme" type="s:string" />
    <wsdl:part name="informe" type="s:string" />
    <wsdl:part name="vencimento" type="s:string" />
    <wsdl:part name="mensagem" type="s:string" />
    <wsdl:part name="dados" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CadastraGuiaHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AlteraGuiaHttpPostIn">
    <wsdl:part name="escritorioCNPJ" type="s:string" />
    <wsdl:part name="empresa" type="s:string" />
    <wsdl:part name="obrigacao" type="s:string" />
    <wsdl:part name="competencia" type="s:string" />
    <wsdl:part name="parcela" type="s:string" />
    <wsdl:part name="sequenciaExtra" type="s:string" />
    <wsdl:part name="obrigacaoExtra" type="s:string" />
    <wsdl:part name="tipoPessoaInforme" type="s:string" />
    <wsdl:part name="informe" type="s:string" />
    <wsdl:part name="vencimento" type="s:string" />
    <wsdl:part name="mensagem" type="s:string" />
    <wsdl:part name="dados" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AlteraGuiaHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="GuiasSoap">
    <wsdl:operation name="LogGuia">
      <wsdl:input message="tns:LogGuiaSoapIn" />
      <wsdl:output message="tns:LogGuiaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CadastraGuia">
      <wsdl:input message="tns:CadastraGuiaSoapIn" />
      <wsdl:output message="tns:CadastraGuiaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlteraGuia">
      <wsdl:input message="tns:AlteraGuiaSoapIn" />
      <wsdl:output message="tns:AlteraGuiaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GuiasHttpGet">
    <wsdl:operation name="LogGuia">
      <wsdl:input message="tns:LogGuiaHttpGetIn" />
      <wsdl:output message="tns:LogGuiaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CadastraGuia">
      <wsdl:input message="tns:CadastraGuiaHttpGetIn" />
      <wsdl:output message="tns:CadastraGuiaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AlteraGuia">
      <wsdl:input message="tns:AlteraGuiaHttpGetIn" />
      <wsdl:output message="tns:AlteraGuiaHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GuiasHttpPost">
    <wsdl:operation name="LogGuia">
      <wsdl:input message="tns:LogGuiaHttpPostIn" />
      <wsdl:output message="tns:LogGuiaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CadastraGuia">
      <wsdl:input message="tns:CadastraGuiaHttpPostIn" />
      <wsdl:output message="tns:CadastraGuiaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AlteraGuia">
      <wsdl:input message="tns:AlteraGuiaHttpPostIn" />
      <wsdl:output message="tns:AlteraGuiaHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GuiasSoap" type="tns:GuiasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogGuia">
      <soap:operation soapAction="http://www.grupocandinho.com.br/WebServices/Guias.asmx/LogGuia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastraGuia">
      <soap:operation soapAction="http://www.grupocandinho.com.br/WebServices/Guias.asmx/CadastraGuia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlteraGuia">
      <soap:operation soapAction="http://www.grupocandinho.com.br/WebServices/Guias.asmx/AlteraGuia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GuiasSoap12" type="tns:GuiasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogGuia">
      <soap12:operation soapAction="http://www.grupocandinho.com.br/WebServices/Guias.asmx/LogGuia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastraGuia">
      <soap12:operation soapAction="http://www.grupocandinho.com.br/WebServices/Guias.asmx/CadastraGuia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlteraGuia">
      <soap12:operation soapAction="http://www.grupocandinho.com.br/WebServices/Guias.asmx/AlteraGuia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GuiasHttpGet" type="tns:GuiasHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="LogGuia">
      <http:operation location="/LogGuia" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastraGuia">
      <http:operation location="/CadastraGuia" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlteraGuia">
      <http:operation location="/AlteraGuia" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GuiasHttpPost" type="tns:GuiasHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="LogGuia">
      <http:operation location="/LogGuia" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastraGuia">
      <http:operation location="/CadastraGuia" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlteraGuia">
      <http:operation location="/AlteraGuia" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Guias">
    <wsdl:port name="GuiasSoap" binding="tns:GuiasSoap">
      <soap:address location="http://grupocandinho.com.br/WebServices/Guias.asmx" />
    </wsdl:port>
    <wsdl:port name="GuiasSoap12" binding="tns:GuiasSoap12">
      <soap12:address location="http://grupocandinho.com.br/WebServices/Guias.asmx" />
    </wsdl:port>
    <wsdl:port name="GuiasHttpGet" binding="tns:GuiasHttpGet">
      <http:address location="http://grupocandinho.com.br/WebServices/Guias.asmx" />
    </wsdl:port>
    <wsdl:port name="GuiasHttpPost" binding="tns:GuiasHttpPost">
      <http:address location="http://grupocandinho.com.br/WebServices/Guias.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>