Administrativo.WS/Web References/portal.incluir/Cadastros.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.grupocandinho.com.br/WebServices/Cadastros.asmx" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.grupocandinho.com.br/WebServices/Cadastros.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.grupocandinho.com.br/WebServices/Cadastros.asmx">
      <s:element name="CadastraEmpresa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="escritorioCNPJ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="empresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="razao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cnpj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastraEmpresaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CadastraEmpresaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastraObrigacao">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="escritorioCNPJ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="obrigacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="layout" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastraObrigacaoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CadastraObrigacaoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastraUsuarioEmpresa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="escritorioCNPJ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="empresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ddd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefone" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastraUsuarioEmpresaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CadastraUsuarioEmpresaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastroEmpresaUsuarioObrigacao">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="escritorioCNPJ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="empresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailUsuarioEmpresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="obrigacao" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastroEmpresaUsuarioObrigacaoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CadastroEmpresaUsuarioObrigacaoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastraUsuarioEscritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="escritorioCNPJ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="senha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastraUsuarioEscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CadastraUsuarioEscritorioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastraEscritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cnpj" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="razao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ddd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefone" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastraEscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CadastraEscritorioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CadastraEmpresaSoapIn">
    <wsdl:part name="parameters" element="tns:CadastraEmpresa" />
  </wsdl:message>
  <wsdl:message name="CadastraEmpresaSoapOut">
    <wsdl:part name="parameters" element="tns:CadastraEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="CadastraObrigacaoSoapIn">
    <wsdl:part name="parameters" element="tns:CadastraObrigacao" />
  </wsdl:message>
  <wsdl:message name="CadastraObrigacaoSoapOut">
    <wsdl:part name="parameters" element="tns:CadastraObrigacaoResponse" />
  </wsdl:message>
  <wsdl:message name="CadastraUsuarioEmpresaSoapIn">
    <wsdl:part name="parameters" element="tns:CadastraUsuarioEmpresa" />
  </wsdl:message>
  <wsdl:message name="CadastraUsuarioEmpresaSoapOut">
    <wsdl:part name="parameters" element="tns:CadastraUsuarioEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="CadastroEmpresaUsuarioObrigacaoSoapIn">
    <wsdl:part name="parameters" element="tns:CadastroEmpresaUsuarioObrigacao" />
  </wsdl:message>
  <wsdl:message name="CadastroEmpresaUsuarioObrigacaoSoapOut">
    <wsdl:part name="parameters" element="tns:CadastroEmpresaUsuarioObrigacaoResponse" />
  </wsdl:message>
  <wsdl:message name="CadastraUsuarioEscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:CadastraUsuarioEscritorio" />
  </wsdl:message>
  <wsdl:message name="CadastraUsuarioEscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:CadastraUsuarioEscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="CadastraEscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:CadastraEscritorio" />
  </wsdl:message>
  <wsdl:message name="CadastraEscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:CadastraEscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="CadastraEmpresaHttpGetIn">
    <wsdl:part name="escritorioCNPJ" type="s:string" />
    <wsdl:part name="empresa" type="s:string" />
    <wsdl:part name="razao" type="s:string" />
    <wsdl:part name="cnpj" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CadastraEmpresaHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CadastraObrigacaoHttpGetIn">
    <wsdl:part name="escritorioCNPJ" type="s:string" />
    <wsdl:part name="obrigacao" type="s:string" />
    <wsdl:part name="layout" type="s:string" />
    <wsdl:part name="nome" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CadastraObrigacaoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CadastraUsuarioEmpresaHttpGetIn">
    <wsdl:part name="escritorioCNPJ" type="s:string" />
    <wsdl:part name="empresa" type="s:string" />
    <wsdl:part name="nome" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="ddd" type="s:string" />
    <wsdl:part name="telefone" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CadastraUsuarioEmpresaHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CadastroEmpresaUsuarioObrigacaoHttpGetIn">
    <wsdl:part name="escritorioCNPJ" type="s:string" />
    <wsdl:part name="empresa" type="s:string" />
    <wsdl:part name="emailUsuarioEmpresa" type="s:string" />
    <wsdl:part name="obrigacao" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CadastroEmpresaUsuarioObrigacaoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CadastraUsuarioEscritorioHttpGetIn">
    <wsdl:part name="escritorioCNPJ" type="s:string" />
    <wsdl:part name="nome" type="s:string" />
    <wsdl:part name="login" type="s:string" />
    <wsdl:part name="senha" type="s:string" />
    <wsdl:part name="email" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CadastraUsuarioEscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CadastraEscritorioHttpGetIn">
    <wsdl:part name="cnpj" type="s:string" />
    <wsdl:part name="razao" type="s:string" />
    <wsdl:part name="ddd" type="s:string" />
    <wsdl:part name="telefone" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CadastraEscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CadastraEmpresaHttpPostIn">
    <wsdl:part name="escritorioCNPJ" type="s:string" />
    <wsdl:part name="empresa" type="s:string" />
    <wsdl:part name="razao" type="s:string" />
    <wsdl:part name="cnpj" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CadastraEmpresaHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CadastraObrigacaoHttpPostIn">
    <wsdl:part name="escritorioCNPJ" type="s:string" />
    <wsdl:part name="obrigacao" type="s:string" />
    <wsdl:part name="layout" type="s:string" />
    <wsdl:part name="nome" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CadastraObrigacaoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CadastraUsuarioEmpresaHttpPostIn">
    <wsdl:part name="escritorioCNPJ" type="s:string" />
    <wsdl:part name="empresa" type="s:string" />
    <wsdl:part name="nome" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="ddd" type="s:string" />
    <wsdl:part name="telefone" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CadastraUsuarioEmpresaHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CadastroEmpresaUsuarioObrigacaoHttpPostIn">
    <wsdl:part name="escritorioCNPJ" type="s:string" />
    <wsdl:part name="empresa" type="s:string" />
    <wsdl:part name="emailUsuarioEmpresa" type="s:string" />
    <wsdl:part name="obrigacao" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CadastroEmpresaUsuarioObrigacaoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CadastraUsuarioEscritorioHttpPostIn">
    <wsdl:part name="escritorioCNPJ" type="s:string" />
    <wsdl:part name="nome" type="s:string" />
    <wsdl:part name="login" type="s:string" />
    <wsdl:part name="senha" type="s:string" />
    <wsdl:part name="email" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CadastraUsuarioEscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CadastraEscritorioHttpPostIn">
    <wsdl:part name="cnpj" type="s:string" />
    <wsdl:part name="razao" type="s:string" />
    <wsdl:part name="ddd" type="s:string" />
    <wsdl:part name="telefone" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CadastraEscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="CadastrosSoap">
    <wsdl:operation name="CadastraEmpresa">
      <wsdl:input message="tns:CadastraEmpresaSoapIn" />
      <wsdl:output message="tns:CadastraEmpresaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CadastraObrigacao">
      <wsdl:input message="tns:CadastraObrigacaoSoapIn" />
      <wsdl:output message="tns:CadastraObrigacaoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CadastraUsuarioEmpresa">
      <wsdl:input message="tns:CadastraUsuarioEmpresaSoapIn" />
      <wsdl:output message="tns:CadastraUsuarioEmpresaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CadastroEmpresaUsuarioObrigacao">
      <wsdl:input message="tns:CadastroEmpresaUsuarioObrigacaoSoapIn" />
      <wsdl:output message="tns:CadastroEmpresaUsuarioObrigacaoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CadastraUsuarioEscritorio">
      <wsdl:input message="tns:CadastraUsuarioEscritorioSoapIn" />
      <wsdl:output message="tns:CadastraUsuarioEscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CadastraEscritorio">
      <wsdl:input message="tns:CadastraEscritorioSoapIn" />
      <wsdl:output message="tns:CadastraEscritorioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CadastrosHttpGet">
    <wsdl:operation name="CadastraEmpresa">
      <wsdl:input message="tns:CadastraEmpresaHttpGetIn" />
      <wsdl:output message="tns:CadastraEmpresaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CadastraObrigacao">
      <wsdl:input message="tns:CadastraObrigacaoHttpGetIn" />
      <wsdl:output message="tns:CadastraObrigacaoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CadastraUsuarioEmpresa">
      <wsdl:input message="tns:CadastraUsuarioEmpresaHttpGetIn" />
      <wsdl:output message="tns:CadastraUsuarioEmpresaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CadastroEmpresaUsuarioObrigacao">
      <wsdl:input message="tns:CadastroEmpresaUsuarioObrigacaoHttpGetIn" />
      <wsdl:output message="tns:CadastroEmpresaUsuarioObrigacaoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CadastraUsuarioEscritorio">
      <wsdl:input message="tns:CadastraUsuarioEscritorioHttpGetIn" />
      <wsdl:output message="tns:CadastraUsuarioEscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CadastraEscritorio">
      <wsdl:input message="tns:CadastraEscritorioHttpGetIn" />
      <wsdl:output message="tns:CadastraEscritorioHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CadastrosHttpPost">
    <wsdl:operation name="CadastraEmpresa">
      <wsdl:input message="tns:CadastraEmpresaHttpPostIn" />
      <wsdl:output message="tns:CadastraEmpresaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CadastraObrigacao">
      <wsdl:input message="tns:CadastraObrigacaoHttpPostIn" />
      <wsdl:output message="tns:CadastraObrigacaoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CadastraUsuarioEmpresa">
      <wsdl:input message="tns:CadastraUsuarioEmpresaHttpPostIn" />
      <wsdl:output message="tns:CadastraUsuarioEmpresaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CadastroEmpresaUsuarioObrigacao">
      <wsdl:input message="tns:CadastroEmpresaUsuarioObrigacaoHttpPostIn" />
      <wsdl:output message="tns:CadastroEmpresaUsuarioObrigacaoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CadastraUsuarioEscritorio">
      <wsdl:input message="tns:CadastraUsuarioEscritorioHttpPostIn" />
      <wsdl:output message="tns:CadastraUsuarioEscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CadastraEscritorio">
      <wsdl:input message="tns:CadastraEscritorioHttpPostIn" />
      <wsdl:output message="tns:CadastraEscritorioHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CadastrosSoap" type="tns:CadastrosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CadastraEmpresa">
      <soap:operation soapAction="http://www.grupocandinho.com.br/WebServices/Cadastros.asmx/CadastraEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastraObrigacao">
      <soap:operation soapAction="http://www.grupocandinho.com.br/WebServices/Cadastros.asmx/CadastraObrigacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastraUsuarioEmpresa">
      <soap:operation soapAction="http://www.grupocandinho.com.br/WebServices/Cadastros.asmx/CadastraUsuarioEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastroEmpresaUsuarioObrigacao">
      <soap:operation soapAction="http://www.grupocandinho.com.br/WebServices/Cadastros.asmx/CadastroEmpresaUsuarioObrigacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastraUsuarioEscritorio">
      <soap:operation soapAction="http://www.grupocandinho.com.br/WebServices/Cadastros.asmx/CadastraUsuarioEscritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastraEscritorio">
      <soap:operation soapAction="http://www.grupocandinho.com.br/WebServices/Cadastros.asmx/CadastraEscritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CadastrosSoap12" type="tns:CadastrosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CadastraEmpresa">
      <soap12:operation soapAction="http://www.grupocandinho.com.br/WebServices/Cadastros.asmx/CadastraEmpresa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastraObrigacao">
      <soap12:operation soapAction="http://www.grupocandinho.com.br/WebServices/Cadastros.asmx/CadastraObrigacao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastraUsuarioEmpresa">
      <soap12:operation soapAction="http://www.grupocandinho.com.br/WebServices/Cadastros.asmx/CadastraUsuarioEmpresa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastroEmpresaUsuarioObrigacao">
      <soap12:operation soapAction="http://www.grupocandinho.com.br/WebServices/Cadastros.asmx/CadastroEmpresaUsuarioObrigacao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastraUsuarioEscritorio">
      <soap12:operation soapAction="http://www.grupocandinho.com.br/WebServices/Cadastros.asmx/CadastraUsuarioEscritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastraEscritorio">
      <soap12:operation soapAction="http://www.grupocandinho.com.br/WebServices/Cadastros.asmx/CadastraEscritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CadastrosHttpGet" type="tns:CadastrosHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="CadastraEmpresa">
      <http:operation location="/CadastraEmpresa" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastraObrigacao">
      <http:operation location="/CadastraObrigacao" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastraUsuarioEmpresa">
      <http:operation location="/CadastraUsuarioEmpresa" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastroEmpresaUsuarioObrigacao">
      <http:operation location="/CadastroEmpresaUsuarioObrigacao" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastraUsuarioEscritorio">
      <http:operation location="/CadastraUsuarioEscritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastraEscritorio">
      <http:operation location="/CadastraEscritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CadastrosHttpPost" type="tns:CadastrosHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="CadastraEmpresa">
      <http:operation location="/CadastraEmpresa" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastraObrigacao">
      <http:operation location="/CadastraObrigacao" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastraUsuarioEmpresa">
      <http:operation location="/CadastraUsuarioEmpresa" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastroEmpresaUsuarioObrigacao">
      <http:operation location="/CadastroEmpresaUsuarioObrigacao" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastraUsuarioEscritorio">
      <http:operation location="/CadastraUsuarioEscritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastraEscritorio">
      <http:operation location="/CadastraEscritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Cadastros">
    <wsdl:port name="CadastrosSoap" binding="tns:CadastrosSoap">
      <soap:address location="http://grupocandinho.com.br/WebServices/Cadastros.asmx" />
    </wsdl:port>
    <wsdl:port name="CadastrosSoap12" binding="tns:CadastrosSoap12">
      <soap12:address location="http://grupocandinho.com.br/WebServices/Cadastros.asmx" />
    </wsdl:port>
    <wsdl:port name="CadastrosHttpGet" binding="tns:CadastrosHttpGet">
      <http:address location="http://grupocandinho.com.br/WebServices/Cadastros.asmx" />
    </wsdl:port>
    <wsdl:port name="CadastrosHttpPost" binding="tns:CadastrosHttpPost">
      <http:address location="http://grupocandinho.com.br/WebServices/Cadastros.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>