Administrativo.WS/Web References/portal.alterar/Alteracoes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.grupocandinho.com.br/WebServices/Alteracoes.asmx" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.grupocandinho.com.br/WebServices/Alteracoes.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.grupocandinho.com.br/WebServices/Alteracoes.asmx">
      <s:element name="AlteraEmpresa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="escritorioCNPJ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="empresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="razaoSocial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cpfCnpj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlteraEmpresaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AlteraEmpresaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlteraObrigacao">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="escritorioCNPJ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="obrigacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlteraObrigacaoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AlteraObrigacaoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlteraUsuarioEmpresa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="escritorioCNPJ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="empresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ddd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefone" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlteraUsuarioEmpresaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AlteraUsuarioEmpresaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlteraUsuarioEscritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="escritorioCNPJ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="senha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlteraUsuarioEscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AlteraUsuarioEscritorioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlteraEscritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="escritorioCNPJ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="razao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ddd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefone" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlteraEscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AlteraEscritorioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AlteraEmpresaSoapIn">
    <wsdl:part name="parameters" element="tns:AlteraEmpresa" />
  </wsdl:message>
  <wsdl:message name="AlteraEmpresaSoapOut">
    <wsdl:part name="parameters" element="tns:AlteraEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="AlteraObrigacaoSoapIn">
    <wsdl:part name="parameters" element="tns:AlteraObrigacao" />
  </wsdl:message>
  <wsdl:message name="AlteraObrigacaoSoapOut">
    <wsdl:part name="parameters" element="tns:AlteraObrigacaoResponse" />
  </wsdl:message>
  <wsdl:message name="AlteraUsuarioEmpresaSoapIn">
    <wsdl:part name="parameters" element="tns:AlteraUsuarioEmpresa" />
  </wsdl:message>
  <wsdl:message name="AlteraUsuarioEmpresaSoapOut">
    <wsdl:part name="parameters" element="tns:AlteraUsuarioEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="AlteraUsuarioEscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:AlteraUsuarioEscritorio" />
  </wsdl:message>
  <wsdl:message name="AlteraUsuarioEscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:AlteraUsuarioEscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="AlteraEscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:AlteraEscritorio" />
  </wsdl:message>
  <wsdl:message name="AlteraEscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:AlteraEscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="AlteraEmpresaHttpGetIn">
    <wsdl:part name="escritorioCNPJ" type="s:string" />
    <wsdl:part name="empresa" type="s:string" />
    <wsdl:part name="razaoSocial" type="s:string" />
    <wsdl:part name="cpfCnpj" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AlteraEmpresaHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AlteraObrigacaoHttpGetIn">
    <wsdl:part name="escritorioCNPJ" type="s:string" />
    <wsdl:part name="obrigacao" type="s:string" />
    <wsdl:part name="nome" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AlteraObrigacaoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AlteraUsuarioEmpresaHttpGetIn">
    <wsdl:part name="escritorioCNPJ" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="empresa" type="s:string" />
    <wsdl:part name="nome" type="s:string" />
    <wsdl:part name="ddd" type="s:string" />
    <wsdl:part name="telefone" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AlteraUsuarioEmpresaHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AlteraUsuarioEscritorioHttpGetIn">
    <wsdl:part name="escritorioCNPJ" type="s:string" />
    <wsdl:part name="login" type="s:string" />
    <wsdl:part name="nome" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="senha" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AlteraUsuarioEscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AlteraEscritorioHttpGetIn">
    <wsdl:part name="escritorioCNPJ" type="s:string" />
    <wsdl:part name="razao" type="s:string" />
    <wsdl:part name="ddd" type="s:string" />
    <wsdl:part name="telefone" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AlteraEscritorioHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AlteraEmpresaHttpPostIn">
    <wsdl:part name="escritorioCNPJ" type="s:string" />
    <wsdl:part name="empresa" type="s:string" />
    <wsdl:part name="razaoSocial" type="s:string" />
    <wsdl:part name="cpfCnpj" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AlteraEmpresaHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AlteraObrigacaoHttpPostIn">
    <wsdl:part name="escritorioCNPJ" type="s:string" />
    <wsdl:part name="obrigacao" type="s:string" />
    <wsdl:part name="nome" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AlteraObrigacaoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AlteraUsuarioEmpresaHttpPostIn">
    <wsdl:part name="escritorioCNPJ" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="empresa" type="s:string" />
    <wsdl:part name="nome" type="s:string" />
    <wsdl:part name="ddd" type="s:string" />
    <wsdl:part name="telefone" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AlteraUsuarioEmpresaHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AlteraUsuarioEscritorioHttpPostIn">
    <wsdl:part name="escritorioCNPJ" type="s:string" />
    <wsdl:part name="login" type="s:string" />
    <wsdl:part name="nome" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="senha" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AlteraUsuarioEscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AlteraEscritorioHttpPostIn">
    <wsdl:part name="escritorioCNPJ" type="s:string" />
    <wsdl:part name="razao" type="s:string" />
    <wsdl:part name="ddd" type="s:string" />
    <wsdl:part name="telefone" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AlteraEscritorioHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="AlteracoesSoap">
    <wsdl:operation name="AlteraEmpresa">
      <wsdl:input message="tns:AlteraEmpresaSoapIn" />
      <wsdl:output message="tns:AlteraEmpresaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlteraObrigacao">
      <wsdl:input message="tns:AlteraObrigacaoSoapIn" />
      <wsdl:output message="tns:AlteraObrigacaoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlteraUsuarioEmpresa">
      <wsdl:input message="tns:AlteraUsuarioEmpresaSoapIn" />
      <wsdl:output message="tns:AlteraUsuarioEmpresaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlteraUsuarioEscritorio">
      <wsdl:input message="tns:AlteraUsuarioEscritorioSoapIn" />
      <wsdl:output message="tns:AlteraUsuarioEscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlteraEscritorio">
      <wsdl:input message="tns:AlteraEscritorioSoapIn" />
      <wsdl:output message="tns:AlteraEscritorioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AlteracoesHttpGet">
    <wsdl:operation name="AlteraEmpresa">
      <wsdl:input message="tns:AlteraEmpresaHttpGetIn" />
      <wsdl:output message="tns:AlteraEmpresaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AlteraObrigacao">
      <wsdl:input message="tns:AlteraObrigacaoHttpGetIn" />
      <wsdl:output message="tns:AlteraObrigacaoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AlteraUsuarioEmpresa">
      <wsdl:input message="tns:AlteraUsuarioEmpresaHttpGetIn" />
      <wsdl:output message="tns:AlteraUsuarioEmpresaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AlteraUsuarioEscritorio">
      <wsdl:input message="tns:AlteraUsuarioEscritorioHttpGetIn" />
      <wsdl:output message="tns:AlteraUsuarioEscritorioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AlteraEscritorio">
      <wsdl:input message="tns:AlteraEscritorioHttpGetIn" />
      <wsdl:output message="tns:AlteraEscritorioHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AlteracoesHttpPost">
    <wsdl:operation name="AlteraEmpresa">
      <wsdl:input message="tns:AlteraEmpresaHttpPostIn" />
      <wsdl:output message="tns:AlteraEmpresaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AlteraObrigacao">
      <wsdl:input message="tns:AlteraObrigacaoHttpPostIn" />
      <wsdl:output message="tns:AlteraObrigacaoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AlteraUsuarioEmpresa">
      <wsdl:input message="tns:AlteraUsuarioEmpresaHttpPostIn" />
      <wsdl:output message="tns:AlteraUsuarioEmpresaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AlteraUsuarioEscritorio">
      <wsdl:input message="tns:AlteraUsuarioEscritorioHttpPostIn" />
      <wsdl:output message="tns:AlteraUsuarioEscritorioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AlteraEscritorio">
      <wsdl:input message="tns:AlteraEscritorioHttpPostIn" />
      <wsdl:output message="tns:AlteraEscritorioHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AlteracoesSoap" type="tns:AlteracoesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AlteraEmpresa">
      <soap:operation soapAction="http://www.grupocandinho.com.br/WebServices/Alteracoes.asmx/AlteraEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlteraObrigacao">
      <soap:operation soapAction="http://www.grupocandinho.com.br/WebServices/Alteracoes.asmx/AlteraObrigacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlteraUsuarioEmpresa">
      <soap:operation soapAction="http://www.grupocandinho.com.br/WebServices/Alteracoes.asmx/AlteraUsuarioEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlteraUsuarioEscritorio">
      <soap:operation soapAction="http://www.grupocandinho.com.br/WebServices/Alteracoes.asmx/AlteraUsuarioEscritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlteraEscritorio">
      <soap:operation soapAction="http://www.grupocandinho.com.br/WebServices/Alteracoes.asmx/AlteraEscritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AlteracoesSoap12" type="tns:AlteracoesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AlteraEmpresa">
      <soap12:operation soapAction="http://www.grupocandinho.com.br/WebServices/Alteracoes.asmx/AlteraEmpresa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlteraObrigacao">
      <soap12:operation soapAction="http://www.grupocandinho.com.br/WebServices/Alteracoes.asmx/AlteraObrigacao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlteraUsuarioEmpresa">
      <soap12:operation soapAction="http://www.grupocandinho.com.br/WebServices/Alteracoes.asmx/AlteraUsuarioEmpresa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlteraUsuarioEscritorio">
      <soap12:operation soapAction="http://www.grupocandinho.com.br/WebServices/Alteracoes.asmx/AlteraUsuarioEscritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlteraEscritorio">
      <soap12:operation soapAction="http://www.grupocandinho.com.br/WebServices/Alteracoes.asmx/AlteraEscritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AlteracoesHttpGet" type="tns:AlteracoesHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="AlteraEmpresa">
      <http:operation location="/AlteraEmpresa" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlteraObrigacao">
      <http:operation location="/AlteraObrigacao" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlteraUsuarioEmpresa">
      <http:operation location="/AlteraUsuarioEmpresa" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlteraUsuarioEscritorio">
      <http:operation location="/AlteraUsuarioEscritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlteraEscritorio">
      <http:operation location="/AlteraEscritorio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AlteracoesHttpPost" type="tns:AlteracoesHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="AlteraEmpresa">
      <http:operation location="/AlteraEmpresa" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlteraObrigacao">
      <http:operation location="/AlteraObrigacao" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlteraUsuarioEmpresa">
      <http:operation location="/AlteraUsuarioEmpresa" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlteraUsuarioEscritorio">
      <http:operation location="/AlteraUsuarioEscritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlteraEscritorio">
      <http:operation location="/AlteraEscritorio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Alteracoes">
    <wsdl:port name="AlteracoesSoap" binding="tns:AlteracoesSoap">
      <soap:address location="http://grupocandinho.com.br/WebServices/Alteracoes.asmx" />
    </wsdl:port>
    <wsdl:port name="AlteracoesSoap12" binding="tns:AlteracoesSoap12">
      <soap12:address location="http://grupocandinho.com.br/WebServices/Alteracoes.asmx" />
    </wsdl:port>
    <wsdl:port name="AlteracoesHttpGet" binding="tns:AlteracoesHttpGet">
      <http:address location="http://grupocandinho.com.br/WebServices/Alteracoes.asmx" />
    </wsdl:port>
    <wsdl:port name="AlteracoesHttpPost" binding="tns:AlteracoesHttpPost">
      <http:address location="http://grupocandinho.com.br/WebServices/Alteracoes.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>